<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>Maven ear example</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</h:head>
<h:body>
    <div class="container">
        <h1>maven ear example</h1>

        <a href="rest/members/1">rest example</a>
    </div>
</h:body>
</html>
